/test.py
/test_input.txt
/Day_XX_puzzle.py
/Day_XX_input.txt
/Day_01_input.txt
/Day_02_input.txt
/Day_03_input.txt
/Day_04_input.txt
/Day_05_input.txt
/Day_06_input.txt
/Day_07_input.txt
/Day_08_input.txt
/Day_09_input.txt
/Day_10_input.txt
/Day_11_input.txt
/Day_12_input.txt